---
layout: default
title: DBFlute EMecha
category: top
---

<div id="top">
{% include header.html %}
<div id="content" style="text-align: center;">
<h1 style="background-position-x: center;">for Eclipse</h1>
<h2 style="background-position-x: center;">Update Site</h2>
<p>ここは、Eclipseプラグインの更新サイトです。</p>
<p>Eclipseの更新サイトに登録してアクセスし、プラグインのインストールを行ってください。</p>
<div style="padding:20px;">
<p class="detailpage" style="text-align:center;"><a href="{{ site.eclipse_doc_url }}/setup.html">インストール手順</a></p>
</div>
{% include footer.html %}
</div>
</div>
