@charset "UTF-8";

$content-head-image: url("#{$image-path}/head-flutist.png");
$content-sub-head-image: url("#{$image-path}/head-score.png");
$content-section-image: url("#{$image-path}/head-staff.gif");

$list-image: url("#{$image-path}/listmark-rest.gif");
$index-list-image: url("#{$image-path}/listmark-note.gif");
$incolumn-image: url("#{$image-path}/background-doted.png");

$fortissimo-image: url("#{$image-path}/mark-fortissimo.png");
$mezzopiano-image: url("#{$image-path}/mark-mezzopiano.png");
$pianissimo-image: url("#{$image-path}/mark-pianissimo.png");


/* ---------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------ content { */
/* ---------------------------------------------------------------------------------------- */
#content {
  line-height: 1.7em;
  padding: 0 20px 20px 20px;
  a {
    color: #3F45D1;
  }

  h1 {
    margin: 0 -20px 40px -20px;
    padding: 40px 0 10px 0;
    line-height: 40px;
    font-size: 182%;/*24px*/
    text-align: center;
    background: #fcffff no-repeat bottom left {
      image: $content-head-image;
    }
    border-bottom: solid 1px #eee;

    & + ul {
      margin: 10px 60px;
      padding: 10px 0;
      li {
        padding: 0 0 3px 25px;
        list-style-image: $index-list-image;
        p {
          margin: {
            top: 0px;
            bottom : 0px;
          }
        }
      }
    }
  }

  h2 {
    margin: 70px 1px 30px 0;
    padding: 0 10px 0 30px;
    line-height: 62px;
    font-size: 182%;/*24px*/
    font-weight: bolder;
    text-align: center;
    background: transparent no-repeat {
      image: $content-sub-head-image;
      position-y:-61px;
    }
    &:target {
      background: transparent no-repeat {
        image: $content-sub-head-image;
      }
    }
  }

  h3 {
    margin: 50px 0 15px 0;
    padding-left: 30px;
    line-height: 28px;
    font-size: 138.5%;/*18px*/
    border-bottom: solid 1px #666;
    background: transparent no-repeat bottom left {
      image: $content-section-image;
    }
  }

  h1, h2, h3 {
    span.second-line {
      display: block;
    }
  }

  ul, ol {
    list-style-position: inside;
    margin-left: 5px;
  }

  ul li {
    list-style-image: $list-image;
  }

  dl , dd{
    padding : {
      left : 10px;
    }
  }
  dd {
    p {
      margin : 0px;
    }
  }
  p {
    font-size: 93%;/*12px*/
  }

  .relatedword, .relatedpage, .detailpage {
    text-align: right;
    margin: 10px 0;
    a {
      text-decoration: none;
      font-style: italic;
    }
  }
  .detailpage {
    a, span {
      background: transparent no-repeat 4px 3px {
        image : $fortissimo-image;
      }
      padding: 3px 4px 3px 30px;
      font-weight: bolder;
    }
  }
  .relatedpage {
    a, span {
      background: transparent no-repeat 0 7px {
        image : $mezzopiano-image;
      }
      padding: 2px 4px 2px 25px;
    }
  }
  .relatedword {
    a, span {
      background: transparent no-repeat 0 6px {
        image : $pianissimo-image;
      }
      padding: 2px 4px 2px 25px;
    }
  }
  .freecomment {
    color: green;
    font-size: 85%;/*11px*/
  }
  .point {
    color: #CC4747;
  }
  .incolumn {
    background : repeat {
      image : $incolumn-image;
    }
  }
  code {
    font-family: $font-family-code;
    font-size: 85%;/*11px*/
    letter-spacing: 0.5px;
    line-height: 1.3;
  }
  pre , .incolumn {
    margin : 10px 0px;
    padding : 5px 15px;
    border: outset 2px #eee;
    border-radius : 5px;
    box-shadow: 1px 1px 7px;
    background-color : #DDFFFF;
  }
}
/* ------------------------------------------------------------------------------ content } */
